$height-deafault-avatar: 50px;

.avatar {
  width: max-content;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;

  &.big {
    .image {
      width: 60px;
      height: 60px;
    }

    .info span {
      font-size: 24px;
    }
  }

  &.small {
    .image {
      width: $height-deafault-avatar;
      height: $height-deafault-avatar;
    }

    .info span {
      font-size: 18px;
    }
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 3px solid $color-purple;
    border: 2px solid transparent;
    border-radius: 50%;

    img,
    .t-icon.avatar {
      width: 100%;
      height: 100%;
      fill: $color-black;
    }
  }

  .info {
    user-select: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 5px;

    span {
      color: $color-black;
      font-weight: 600;
    }
  }
}
